@model IEnumerable<Core.ViewModels.SupporterViewModel>
@{
    Layout = ViewBag.Layout;
    ViewData["Title"] = "Project Supporters";
}
<style>
    body {
        counter-reset: Serial;
    }

    tr td:first-child:before {
        counter-increment: Serial;
        content: counter(Serial);
    }
</style>

<div class="page-wrapper">
    <div class="content">
        <div class="page-header d-flex justify-content-between align-items-center">
            <div>
                <h3 class="page-title">Supporters for @Model.FirstOrDefault()?.ProjectTitle</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="ti ti-smart-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Supporters</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body p-0">
                <div class="custom-datatable-filter table-responsive">
                    <div class="table-responsive">
                        <table class="table datatable">
                            <thead class="thead-light">
                                <tr>
                                    <th>S/N</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    foreach (var s in Model)
                                    {
                                        <tr>
                                            <td></td> 
                                            <td>@s.FullName</td>
                                            <td>@s.Email</td>
                                            <td>@s.PhoneNumber</td>
                                            <td><span class="badge bg-success">@s.Amount</span></td>
                                            <td>@s.DateCreated?.ToString("dd MMM yyyy")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
